@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* titan-one-regular - latin */
@font-face {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  src: url("/titan-one-v8-latin-regular.5ecfba8a.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/titan-one-v8-latin-regular.5ecfba8a.eot?#iefix") format("embedded-opentype"), url("/titan-one-v8-latin-regular.c7773417.woff2") format("woff2"), url("/titan-one-v8-latin-regular.7f3e05d4.woff") format("woff"), url("/titan-one-v8-latin-regular.289eb43c.ttf") format("truetype"), url("/titan-one-v8-latin-regular.6dce54aa.svg#TitanOne") format("svg");
  /* Legacy iOS */
}
/* dm-sans-regular - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/dm-sans-v6-latin-regular.b8eca754.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/dm-sans-v6-latin-regular.b8eca754.eot?#iefix") format("embedded-opentype"), url("/dm-sans-v6-latin-regular.a45f7eae.woff2") format("woff2"), url("/dm-sans-v6-latin-regular.951d2140.woff") format("woff"), url("/dm-sans-v6-latin-regular.8114e003.ttf") format("truetype"), url("/dm-sans-v6-latin-regular.8e9c9c54.svg#DMSans") format("svg");
  /* Legacy iOS */
}
/* dm-sans-500 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("/dm-sans-v6-latin-500.6760241d.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/dm-sans-v6-latin-500.6760241d.eot?#iefix") format("embedded-opentype"), url("/dm-sans-v6-latin-500.01a97bb0.woff2") format("woff2"), url("/dm-sans-v6-latin-500.044febe0.woff") format("woff"), url("/dm-sans-v6-latin-500.9e53fdac.ttf") format("truetype"), url("/dm-sans-v6-latin-500.acfa4f65.svg#DMSans") format("svg");
  /* Legacy iOS */
}
/* dm-sans-700 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/dm-sans-v6-latin-700.f08a1f3b.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/dm-sans-v6-latin-700.f08a1f3b.eot?#iefix") format("embedded-opentype"), url("/dm-sans-v6-latin-700.d929dea6.woff2") format("woff2"), url("/dm-sans-v6-latin-700.42c96a41.woff") format("woff"), url("/dm-sans-v6-latin-700.405f0335.ttf") format("truetype"), url("/dm-sans-v6-latin-700.b4c46e03.svg#DMSans") format("svg");
  /* Legacy iOS */
}
a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

picture {
  display: block;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.section-label {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .section-label {
    font-size: 26px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .section-label {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
  }
}

.section-title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 48px;
    line-height: 55px;
  }
}
@media screen and (min-width: 1280px) {
  .section-title {
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
  }
}

/*можно написать одну строку вместо 4-х - @include FontType(15px, 700, 1.8, 0.03em)  */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-header {
  position: relative;
}

.header-conteiner {
  position: relative;
  margin: 0 auto;
}
@media screen and (min-width: 1280px) {
  .header-conteiner {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
}

.conteiner-relative {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 5;
  transform: translateX(-50%);
}
@media screen and (min-width: 320px) {
  .conteiner-relative {
    min-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner-relative {
    width: 768px;
    padding-top: 37px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .conteiner-relative {
    width: 1280px;
    padding-top: 38px;
    padding-left: 45px;
    padding-right: 110px;
  }
}

.burger-menu {
  position: fixed;
  padding-top: 60px;
  padding-left: 21px;
  padding-right: 20px;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #e17992;
  z-index: 8;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-menu.is-open {
  display: flex;
  flex-direction: column;
  transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .burger-menu {
    width: 254px;
  }
}
@media screen and (min-width: 1280px) {
  .burger-menu {
    position: absolute;
    top: 51px;
    left: 50%;
    width: 541px;
    padding: 0;
    transform: translateX(-50%);
    background-color: transparent;
    transition: none;
  }
}

.header-buttons_tablet {
  display: flex;
  margin-left: auto;
}
.header-buttons_tablet.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.button-header.close-menu {
  position: absolute;
  top: 22px;
  right: 25px;
  color: #fff;
  background-color: transparent;
}
@media screen and (min-width: 1280px) {
  .button-header.close-menu {
    display: none;
  }
}

.button-buy {
  max-width: 186px;
  height: 44px;
  border-radius: 22px;
  margin-bottom: 32px;
  background-color: #fff;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #d41443;
}
.button-buy:hover, .button-buy:focus {
  background-color: #ecebeb;
}

.button-buy.now {
  display: none;
  width: 160px;
  height: 44px;
  margin-left: 30px;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .button-buy.now {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .navigation-button {
    display: none;
  }
}

.icon-right {
  margin-left: 15px;
  fill: currentColor;
}

.icon-close {
  fill: currentColor;
}

.open-menu {
  fill: currentColor;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .open-menu {
    top: 52px;
  }
}
@media screen and (min-width: 1280px) {
  .open-menu {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .navigation {
    display: flex;
    min-width: 541px;
  }
}

@media screen and (min-width: 1280px) {
  .navigation-list {
    display: flex;
    flex-direction: row;
    align-content: center;
  }
}

.navigation-item {
  position: relative;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  display: flex;
  align-items: center;
  color: #fff;
}
.navigation-item:not(:last-child) {
  margin-bottom: 22px;
}
@media screen and (min-width: 1280px) {
  .navigation-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .navigation-item {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
  }
}
.navigation-item:hover, .navigation-item:focus {
  color: #d41443;
}
.navigation-item:first-child::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: -20px;
  width: 115%;
  height: 1px;
  border-radius: 2px;
  background-color: #e17992;
}
@media screen and (min-width: 1280px) {
  .navigation-item:first-child::before {
    display: none;
  }
}
.navigation-item::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: -20px;
  width: 115%;
  height: 1px;
  border-radius: 2px;
  background-color: #e17992;
}
@media screen and (min-width: 1280px) {
  .navigation-item::after {
    display: none;
  }
}

.to-top_button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  border: none;
}

.strelka-top-1 {
  border-radius: 50%;
  border: 2px solid #fcabd4;
  width: 55px;
  height: 55px;
  cursor: pointer;
  box-shadow: 0 0 3px 1px #ffbae8;
  cursor: pointer;
  transform: rotate(90deg);
}

.strelka-top-1 path {
  fill: rgba(255, 162, 232, 0.6);
  stroke-width: 2;
  stroke: #fd97f8;
  transition: fill 0.5s ease-out;
}

h1 {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.153;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
}
h1 .hero-conteiner-span {
  font-size: 48px;
  line-height: 0.958;
  color: #d41443;
}

.hero {
  background-color: #ffb8ca;
  overflow: hidden;
}

.hero-conteiner {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 320px;
  height: 502px;
  margin: 0 auto;
}
.hero-conteiner_title {
  display: block;
  position: absolute;
  z-index: 2;
  width: 219px;
  top: 187px;
  left: 20px;
  z-index: 2;
}
.hero-conteiner_subtitle {
  display: flex;
  position: absolute;
  z-index: 2;
  width: 153px;
  top: 311px;
  left: 20px;
}
.hero-conteiner_subtitle .btn-link_products {
  display: block;
  background-color: #d41443;
  width: 62px;
  height: 24px;
  padding-top: 7px;
  margin-right: 8px;
  border-radius: 20px;
  text-align: center;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-conteiner_subtitle .btn-link_about {
  display: block;
  background-color: #fff;
  width: 82px;
  height: 24px;
  padding-top: 7px;
  border-radius: 20px;
  text-align: center;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  color: #d41443;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-conteiner .btn-link_products:hover,
.hero-conteiner .btn-link_products:focus {
  background-color: #c7133e;
  color: #fff;
}
.hero-conteiner .btn-link_about:hover,
.hero-conteiner .btn-link_about:focus {
  background-color: #ecebeb;
  color: #d41443;
}
.hero-conteiner .hero_girl, .hero-conteiner_rigth-two, .hero-conteiner_rigth-one, .hero-conteiner_milk, .hero-conteiner_text {
  display: none;
}
.hero-conteiner_ice {
  position: absolute;
  top: 92px;
  left: 117px;
  z-index: 1;
}
.hero-conteiner::after {
  content: " ";
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background: #ffa5ba;
  position: absolute;
  top: 77px;
  left: 36px;
  z-index: 0;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 22px;
    line-height: 1.136;
  }
  h1 .hero-conteiner-span {
    font-size: 34px;
  }

  .hero-conteiner {
    min-width: 768px;
    height: 399px;
    margin: 0 auto;
  }
  .hero-conteiner_title {
    display: block;
    position: absolute;
    z-index: 2;
    width: 162px;
    top: 102px;
    left: 34px;
  }
  .hero-conteiner_subtitle {
    top: 201px;
    left: 34px;
  }
  .hero-conteiner_text {
    display: block;
    position: absolute;
    top: 292px;
    left: 154px;
    width: 114px;
    height: 48px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 150%;
    color: #fff;
  }
  .hero-conteiner_text-btn {
    display: block;
    margin-top: 7px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-conteiner_text-btn:focus-within, .hero-conteiner_text-btn:hover {
    background-color: #ffa5ba;
  }
  .hero-conteiner-symbol {
    color: #d41443;
  }
  .hero-conteiner_text-quote {
    display: block;
  }
  .hero-conteiner_rigth-one {
    display: block;
    position: absolute;
    z-index: 1;
    width: 43px;
    height: 44px;
    top: 94px;
    left: 691px;
    text-align: center;
  }
  .hero-conteiner_rigth-one::after {
    content: " ";
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
  }
  .hero-conteiner_rigth-fig-one {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 1.142;
    text-align: left;
    color: #d41443;
  }
  .hero-conteiner_rigth-text-one {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 1.25;
    color: #fff;
  }
  .hero-conteiner_rigth-two {
    display: block;
    position: absolute;
    z-index: 1;
    top: 151px;
    left: 683px;
    width: 51px;
    height: 43px;
  }
  .hero-conteiner_rigth-two::after {
    content: " ";
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
  }
  .hero-conteiner_rigth-fig-two {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 1.142;
    text-align: center;
    color: #d41443;
  }
  .hero-conteiner_rigth-text-two {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 1.25;
    text-align: left;
    color: #fff;
  }
  .hero-conteiner_ice {
    height: 336px;
    left: 378px;
    top: 63px;
  }
  .hero-conteiner .hero_girl {
    display: block;
    width: 168px;
    height: 133px;
    position: absolute;
    top: 266px;
    left: 566px;
    z-index: 2;
  }
  .hero-conteiner_milk {
    display: block;
    width: 124px;
    height: 126px;
    position: absolute;
    top: 245px;
    left: 34px;
    z-index: 2;
  }
  .hero-conteiner::after {
    width: 324px;
    height: 322px;
    top: 31px;
    left: 307px;
  }
}
@media screen and (min-width: 1280px) {
  h1 {
    font-size: 38px;
    line-height: 1.157;
  }
  h1 .hero-conteiner-span {
    font-size: 58px;
  }

  .hero-conteiner {
    min-width: 1280px;
    height: 665px;
    margin: 0 auto;
  }
  .hero-conteiner_title {
    position: absolute;
    z-index: 2;
    width: 277px;
    top: 172px;
    left: 114px;
  }
  .hero-conteiner_subtitle {
    width: 257px;
    top: 334px;
    left: 114px;
  }
  .hero-conteiner_subtitle-products {
    width: 102px;
    height: 40px;
    margin-right: 15px;
    border-radius: 20px;
  }
  .hero-conteiner_subtitle-about {
    width: 138px;
    height: 40px;
    border-radius: 20px;
  }
  .hero-conteiner_subtitle .btn-link {
    font-size: 14px;
    line-height: 1.285;
  }
  .hero-conteiner_text {
    top: 486px;
    left: 294px;
    width: 200px;
    height: 78px;
    font-size: 14px;
    line-height: 140%;
  }
  .hero-conteiner_text-quote {
    display: block;
  }
  .hero-conteiner_text-btn {
    margin-top: 20px;
  }
  .hero-conteiner_rigth-one {
    width: 72px;
    height: 77px;
    top: 157px;
    left: 1110px;
    text-align: center;
  }
  .hero-conteiner_rigth-one::after {
    content: " ";
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
  }
  .hero-conteiner_rigth-fig-one {
    font-size: 46px;
    line-height: 1.152;
    text-align: left;
  }
  .hero-conteiner_rigth-text-one {
    font-size: 14px;
    line-height: 1.258;
  }
  .hero-conteiner_rigth-two {
    top: 249px;
    left: 1090px;
    width: 92px;
    height: 76px;
  }
  .hero-conteiner_rigth-two::after {
    content: " ";
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
  }
  .hero-conteiner_rigth-fig-two {
    font-size: 46px;
    line-height: 1.152;
    text-align: center;
  }
  .hero-conteiner_rigth-text-two {
    font-size: 14px;
    line-height: 1.258;
    text-align: left;
  }
  .hero-conteiner_ice {
    width: 236px;
    height: 557px;
    left: 593px;
    top: 109px;
    bottom: 0px;
    right: 451px;
  }
  .hero-conteiner .hero_girl {
    width: 293px;
    height: 232px;
    top: 434px;
    left: 878px;
  }
  .hero-conteiner_milk {
    width: 188px;
    height: 191px;
    top: 430px;
    bottom: 44px;
    right: 1015px;
    left: 77px;
  }
  .hero-conteiner::after {
    width: 538px;
    height: 538px;
    top: 53px;
    left: 475px;
  }
}
body {
  font-family: "DM Sans", sans-serif;
  font-family: "Titan One", cursive;
}

.products-section {
  padding-top: 121px;
  padding-bottom: 98px;
}
@media screen and (min-width: 768px) {
  .products-section {
    padding-top: 122px;
    padding-bottom: 112px;
  }
}
@media screen and (min-width: 1280px) {
  .products-section {
    padding-top: 127px;
    padding-bottom: 244px;
  }
}
.products-section .section-label {
  margin-bottom: 15px;
}
.products-section .section-title {
  margin-bottom: 144px;
}
@media screen and (min-width: 768px) {
  .products-section .section-title {
    margin-bottom: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .products-section .section-title {
    margin-bottom: 259px;
  }
}

@media screen and (min-width: 768px) {
  .products-list {
    display: flex;
    justify-content: center;
  }
}

.products-list-item {
  position: relative;
  max-width: 280px;
  min-height: 598px;
}
@media screen and (max-width: 767px) {
  .products-list-item:not(:last-child) {
    margin-bottom: 17px;
  }
}
@media screen and (min-width: 768px) {
  .products-list-item {
    max-width: 220px;
    min-height: 485px;
  }
  .products-list-item:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .products-list-item {
    max-width: 329px;
    min-height: 525px;
  }
  .products-list-item:not(:last-child) {
    margin-right: 27px;
  }
}

.products-individual-container {
  min-width: 100%;
  min-height: 100%;
  padding: 161px 39px 41px 41px;
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .products-individual-container {
    padding: 152px 11px 40px 11px;
  }
}
@media screen and (min-width: 1280px) {
  .products-individual-container {
    padding: 163px 44px 50px 44px;
  }
}

.ice-cream {
  background: #ffb8ca;
}
@media screen and (max-width: 767px) {
  .ice-cream .products-title::before {
    background-image: url("/product-ice-cream.20ddf5f2.png");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .ice-cream .products-title::before {
    background-image: url("/product-ice-cream@2x.497d1e56.png");
    background-size: contain;
  }
}
@media screen and (min-width: 768px) {
  .ice-cream .products-title::before {
    background-image: url("/product-ice-cream.c6064d98.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .ice-cream .products-title::before {
    background-image: url("/product-ice-cream@2x.32fb6b52.png");
    background-size: contain;
  }
}
@media screen and (min-width: 1280px) {
  .ice-cream .products-title::before {
    background-image: url("/product-ice-cream.873b398f.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .ice-cream .products-title::before {
    background-image: url("/product-ice-cream@2x.0ac80b70.png");
    background-size: contain;
  }
}

.ice-coffee {
  background: #f0d1a5;
}
.ice-coffee .products-title::before {
  background-image: url("/product-shake.ddd281e8.png");
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .ice-coffee .products-title::before {
    background-image: url("/product-shake@2x.ec866b8d.png");
    background-size: contain;
  }
}
@media screen and (min-width: 768px) {
  .ice-coffee .products-title::before {
    background-image: url("/product-shake.a09514bb.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .ice-coffee .products-title::before {
    background-image: url("/product-shake@2x.23c5b2c7.png");
    background-size: contain;
  }
}
@media screen and (min-width: 1280px) {
  .ice-coffee .products-title::before {
    background-image: url("/product-shake.cabefd5a.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .ice-coffee .products-title::before {
    background-image: url("/product-shake@2x.85501bba.png");
    background-size: contain;
  }
}

.milkshakes {
  background: #c2e297;
}
.milkshakes .products-title::before {
  background-image: url("/product-shake-chokolate.aaea6ec8.png");
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .milkshakes .products-title::before {
    background-image: url("/product-shake-chokolate@2x.4f64238f.png");
    background-size: contain;
  }
}
@media screen and (min-width: 768px) {
  .milkshakes .products-title::before {
    background-image: url("/product-shake-chokolate.a4f854a8.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .milkshakes .products-title::before {
    background-image: url("/product-shake-chokolate@2x.15726d32.png");
    background-size: contain;
  }
}
@media screen and (min-width: 1280px) {
  .milkshakes .products-title::before {
    background-image: url("/product-shake-chokolate.a3f5f3db.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .milkshakes .products-title::before {
    background-image: url("/product-shake-chokolate@2x.115f631e.png");
    background-size: contain;
  }
}

.products-title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (min-width: 1280px) {
  .products-title {
    font-size: 30px;
    line-height: 34px;
  }
}
.products-title::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 50%;
  width: 249px;
  height: 252px;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .products-title::before {
    top: 10px;
    width: 220px;
    height: 226px;
  }
}
@media screen and (min-width: 1280px) {
  .products-title::before {
    top: -45px;
    width: 335px;
    height: 335px;
  }
}
.products-title::after {
  content: "";
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 26px;
  height: 6px;
  background-image: url("/icon-triple.c602e154.svg");
}
@media screen and (min-width: 1280px) {
  .products-title::after {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.products-description-container {
  margin-bottom: 30px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .products-description-container {
    width: 198px;
    height: 124px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .products-description-container {
    width: 241px;
    height: 106px;
    margin-bottom: 62px;
  }
}

.products-description {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .products-description {
    line-height: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .products-description {
    font-size: 16px;
    line-height: 28px;
  }
}

.products-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products-button:focus-within, .products-button:hover {
  background-color: #ffa5ba;
}

.products-button-symbol {
  color: #d41443;
}

.about-section {
  padding-top: 125px;
  padding-bottom: 105px;
  background-color: #fff5f6;
  background-image: url("/section-about-bg.850ab03e.png");
  background-size: 100%;
  background-position-y: 80%;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .about-section {
    background-image: url("/section-about-bg@2x.98be6a58.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-section {
    background-image: none;
  }
}
@media screen and (min-width: 1280px) {
  .about-section {
    background-position-y: 75%;
    background-image: url("/section-about-bg.aa6ec803.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .about-section {
    background-image: url("/section-about-bg@2x.ee2b78f6.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-section {
    padding-bottom: 152px;
  }
}
@media screen and (min-width: 1280px) {
  .about-section {
    padding-bottom: 129px;
    background-color: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .about-section .container {
    display: flex;
  }
}

.about-title-container {
  max-width: 200px;
  margin-bottom: 26px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .about-title-container {
    max-width: 100%;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .about-title-container {
    margin-bottom: 55px;
  }
}
.about-title-container .section-label {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .image-cow {
    margin-right: 17px;
  }
}
@media screen and (min-width: 1280px) {
  .image-cow {
    margin-right: 74px;
  }
}

.container-about-description {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 46px;
}
@media screen and (min-width: 768px) {
  .container-about-description {
    margin-top: 0;
    width: 340px;
  }
}
@media screen and (min-width: 1280px) {
  .container-about-description {
    width: 463px;
  }
}

.about-products {
  margin-bottom: 47px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .about-products {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 176%;
  }
}
@media screen and (min-width: 1280px) {
  .about-products {
    margin-bottom: 35px;
    font-size: 16px;
    letter-spacing: 0.04em;
  }
}

.about-description {
  margin-bottom: 20px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #907e82;
}
@media screen and (min-width: 768px) {
  .about-description {
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1280px) {
  .about-description {
    line-height: 194%;
  }
}

.about-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
  padding: 17px 37px;
  min-width: 176px;
  min-height: 44px;
  background: #ffffff;
  color: #d41443;
  border-radius: 22px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-button:hover, .about-button:focus {
  background: #ecebeb;
}
@media screen and (min-width: 768px) {
  .about-button {
    margin-top: 62px;
  }
}
@media screen and (min-width: 1280px) {
  .about-button {
    margin-top: 45px;
  }
}

.about-button-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about-button-text {
    font-size: 16px;
    line-height: 21px;
  }
}

.about-button-arrow {
  max-width: 8px;
  max-height: 10px;
  background-image: url("/vector-button.7838e72d.svg");
}

.gallery {
  background-image: linear-gradient(to bottom, #fff5f6 0%, #fff5f6 40%, #fff 40%, #fff 100%);
}
.gallery-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.gallery-icon {
  width: 364px;
}
@media screen and (min-width: 768px) {
  .gallery-icon {
    width: 786px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery-icon {
    width: 1280px;
  }
}

.reviews {
  background: #fff;
  padding-top: 80px;
  padding-bottom: 90px;
}
@media screen and (min-width: 768px) {
  .reviews {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 1280px) {
  .reviews {
    padding-bottom: 130px;
    background: #fff5f6;
  }
}
.reviews-list {
  position: relative;
}
.reviews-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  max-width: 310px;
}
@media screen and (min-width: 768px) {
  .reviews-container {
    max-width: 650px;
  }
}
@media screen and (min-width: 1280px) {
  .reviews-container {
    max-width: 956px;
  }
}
.reviews-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews-icon {
  border-radius: 50%;
  margin-bottom: 29px;
  width: 85px;
  height: 85px;
}
.reviews-content {
  box-sizing: content-box;
  position: relative;
  padding: 43px 57px 26px 66px;
  background: #fafafa;
  color: #e1e1e1;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .reviews-content {
    font-size: 14px;
    line-height: 216%;
    letter-spacing: 0.04em;
    padding: 47px 80px 34px 80px;
  }
}
@media screen and (min-width: 1280px) {
  .reviews-content {
    font-size: 16px;
    line-height: 186%;
    padding: 47px 80px 34px 83px;
  }
}
.reviews-content::before {
  content: url("/quotes.13d917a9.png");
  width: 27px;
  height: 20px;
  position: absolute;
  top: 27px;
  left: 60px;
  fill: #e1e1e1;
}
@media screen and (min-width: 768px) {
  .reviews-content::before {
    left: 40px;
  }
}
.reviews-desc {
  position: relative;
  display: inline;
  color: #000000;
  z-index: 3;
  text-align: center;
}
.reviews-gradient {
  position: absolute;
  top: 38px;
  left: 50px;
  display: inline-block;
  width: 180px;
  height: 250px;
  background-image: repeating-linear-gradient(to bottom, transparent 0px, transparent 29px, #e1e1e1 1px, #e1e1e1 30px);
}
@media screen and (min-width: 768px) {
  .reviews-gradient {
    top: 45px;
    left: 60px;
    width: 524px;
    height: 90px;
  }
}
@media screen and (min-width: 1280px) {
  .reviews-gradient {
    top: 47px;
    left: 60px;
    width: 820px;
    height: 70px;
  }
}
.reviews-slider {
  margin-top: 30px;
}
.reviews-circles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
  color: #c7133e;
}
.reviews-circle {
  fill: currentColor;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}
.reviews-circle:not(:last-child) {
  margin-right: 10px;
}
.reviews-location {
  font-family: DM Sans;
  font-size: 14px;
  line-height: 186%;
  text-align: center;
  margin-bottom: 30px;
}
.reviews-buttons-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews-slider-button {
  border: none;
  outline: none;
  background: none;
  width: 12px;
  height: 12px;
  color: #d9d9d9;
}
.reviews-slider-home {
  color: #d31342;
}
.reviews-slider-button:not(:last-child) {
  margin-right: 18px;
}
.reviews-icon-home {
  fill: currentColor;
  width: 12px;
  height: 12px;
}
.reviews-big-circle {
  fill: currentColor;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.slick-dots {
  position: absolute;
  bottom: -107px;
  left: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}
@media screen and (min-width: 768px) {
  .slick-dots {
    bottom: -120px;
    left: 270px;
  }
}
@media screen and (min-width: 1280px) {
  .slick-dots {
    left: 425px;
  }
}
.slick-dots #slick-slide-control00,
.slick-dots #slick-slide-control01,
.slick-dots #slick-slide-control02 {
  border: none;
  outline: none;
  background: none;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 12px;
  font-size: 0px;
}
.slick-dots .slick-active > #slick-slide-control00 {
  border-radius: 0%;
  background-image: url(/home@2x.c9b2b051.png);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}
.slick-dots .slick-active > #slick-slide-control01 {
  border-radius: 0%;
  background-image: url(/home@2x.c9b2b051.png);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}
.slick-dots .slick-active > #slick-slide-control02 {
  border-radius: 0%;
  background-image: url(/home@2x.c9b2b051.png);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}

.advantages-section {
  padding-bottom: 145px;
  background-color: #fff5f6;
}
@media screen and (min-width: 768px) {
  .advantages-section {
    padding-bottom: 242px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages-section {
    padding-bottom: 139px;
    background-color: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .advantages-section .container {
    padding: 0 36px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
  }
}

.advantages-item {
  position: relative;
}
.advantages-item:not(:last-child) {
  margin-bottom: 104px;
}
@media screen and (min-width: 768px) {
  .advantages-item:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages-item:not(:last-child) {
    margin-right: 30px;
  }
}

.milk {
  position: relative;
}
.milk::before {
  content: "";
  position: absolute;
  left: 0;
  top: -66px;
  min-width: 33px;
  height: 50px;
  background-image: url("/advantages1.a5c62a7f.png");
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .milk::before {
    background-image: url("/advantages1@2x.baac8f49.png");
    background-size: contain;
  }
}

.fruit {
  position: relative;
}
.fruit::before {
  content: "";
  position: absolute;
  left: 0;
  top: -66px;
  min-width: 50px;
  height: 50px;
  background-image: url("/advantages2.77dbd730.png");
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .fruit::before {
    background-image: url("/advantages2@2x.2690ee7e.png");
    background-size: contain;
  }
}

.candy {
  position: relative;
}
.candy::before {
  content: "";
  position: absolute;
  left: 0;
  top: -66px;
  min-width: 44px;
  height: 50px;
  background-image: url("/advantages3.79016fd5.png");
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .candy::before {
    background-image: url("/advantages3@2x.78bf9369.png");
    background-size: contain;
  }
}

.advantages-value {
  margin-bottom: 18px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 66px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .advantages-value {
    margin-bottom: 13px;
    font-size: 48px;
    line-height: 55px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages-value {
    margin-bottom: 15px;
    font-size: 58px;
    line-height: 66px;
  }
}

.advantages-description {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .advantages-description {
    font-size: 14px;
    line-height: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages-description {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
}

.contacts {
  background: linear-gradient(to bottom, #fff 84px, #fff5f6 84px);
  padding-bottom: 113px;
}
@media screen and (min-width: 768px) {
  .contacts {
    padding-bottom: 158px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts {
    background-color: #fff5f6;
    background-image: url("/milk-spray@1x.0fd65da6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 102px;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .shop-contact {
    display: flex;
  }
}
.shop-contact :nth-child(2) .store-card {
  background: #c2e297;
  width: 116px;
}
@media screen and (min-width: 768px) {
  .shop-contact :nth-child(2) .store-card {
    width: 138px;
  }
}

.shop-card.container {
  background-color: #fff;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
@media screen and (max-width: 767px) {
  .shop-card.container {
    width: 220px;
    height: 427px;
    padding-top: 43px;
    padding-bottom: 43px;
  }
}
@media screen and (min-width: 768px) {
  .shop-card.container {
    width: 220px;
    height: 544px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 31px;
    padding-right: 32px;
  }
  .shop-card.container:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .shop-card.container {
    width: 330px;
    height: 572px;
    padding-top: 51px;
    padding-bottom: 62px;
    padding-left: 43px;
    padding-right: 44px;
  }
}
.shop-card.container:not(:last-child) {
  margin-bottom: 20px;
}
.shop-card.container:last-child {
  margin-bottom: 54px;
}
@media screen and (min-width: 768px) {
  .shop-card.container:last-child {
    margin-bottom: 81px;
  }
}
@media screen and (min-width: 1280px) {
  .shop-card.container:last-child {
    margin-bottom: 86px;
  }
}

.store-card {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.83;
  letter-spacing: 0.04em;
  font-style: normal;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 16px;
  background: #f0d1a5;
  border-radius: 4px;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .store-card {
    font-size: 16px;
    line-height: 1.86;
    width: 73px;
    height: 28px;
    margin-bottom: 30px;
  }
}

.city {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.83;
  letter-spacing: 0.04em;
  text-align: left;
  color: #000;
  text-transform: none;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .city {
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1280px) {
  .city {
    font-size: 16px;
  }
}

.description {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  border: none;
  text-align: left;
  color: #907e82;
  text-transform: none;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .description {
    font-size: 14px;
    line-height: 1.64;
  }
}
@media screen and (min-width: 1280px) {
  .description {
    font-size: 16px;
  }
}

.schedule {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.83;
  letter-spacing: 0.04em;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .schedule {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .schedule {
    font-size: 16px;
  }
}
.schedule::after {
  border: 1px solid #e1e1e1;
  content: "";
  display: block;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 25px;
}
@media screen and (min-width: 768px) {
  .schedule::after {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .schedule::after {
    margin-bottom: 32px;
    margin-top: 32px;
  }
}
.schedule::before {
  border: 1px solid #e1e1e1;
  content: "";
  display: block;
  width: 100%;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .schedule::before {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .schedule::before {
    margin-bottom: 32px;
    margin-top: 32px;
  }
}

.date {
  font-family: DM Sans;
  color: #000;
}

.time {
  font-family: DM Sans;
  color: #ffa5ba;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .time {
    margin-bottom: 16px;
  }
}

.contact {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #907e82;
}
@media screen and (min-width: 768px) {
  .contact {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .contact {
    font-size: 16px;
  }
}

.contact-button {
  display: block;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.03em;
  background-color: #d41342;
  color: #fff;
  padding: 0;
  width: 161px;
  height: 44px;
  border-radius: 22px;
  margin-left: auto;
  margin-right: auto;
}
.contact-button:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .contact-button:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .contact-button {
    margin-bottom: 0;
    margin-right: 15px;
  }
}

.icon-right-contact {
  margin-left: 8px;
}
@media screen and (min-width: 768px) {
  .icon-right-contact {
    margin-left: 13px;
  }
}

.location {
  width: 198px;
  color: D41342;
}

.franchise {
  color: #d41343;
  background-color: #fff;
}
.franchise:hover, .franchise:focus {
  background-color: #ECEBEB;
}
@media screen and (min-width: 768px) {
  .franchise {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .button-info.container {
    display: flex;
    justify-content: center;
    width: 380px;
  }
}
@media screen and (min-width: 1280px) {
  .button-info.container {
    width: 393px;
  }
}

.footer-section {
  background-color: #fff5f6;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.footer-main {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .footer-main {
    display: flex;
    justify-content: space-between;
    padding: 0 36px;
  }
}
@media (min-width: 1280px) {
  .footer-main {
    padding: 0 121px 0 114px;
  }
}

.footer-h3 {
  color: #ffa5ba;
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  width: 232px;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .footer-h3 {
    width: 340px;
    font-size: 26px;
    margin-bottom: 16px;
  }
}
@media (min-width: 1280px) {
  .footer-h3 {
    width: 474px;
    line-height: 1.13;
    font-size: 30px;
    margin-bottom: 15px;
  }
}

.footer-h2 {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  width: 200px;
  margin-bottom: 42px;
}
@media (min-width: 768px) {
  .footer-h2 {
    font-size: 48px;
    margin-bottom: 91px;
  }
}
@media (min-width: 1280px) {
  .footer-h2 {
    width: 474px;
    font-size: 48px;
    margin-bottom: 97px;
  }
}

.footer-social-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;
}
@media (min-width: 1280px) {
  .footer-social-list {
    margin-bottom: 50px;
  }
}

.footer-contact-link {
  font-family: "DM Sans", sans-serif;
  text-align: right;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.8;
  color: #000000;
  display: block;
  text-align: right;
}
@media (min-width: 768px) {
  .footer-contact-link {
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .footer-contact-link {
    font-size: 16px;
  }
}

.master-icon {
  justify-content: center;
  fill: currentColor;
}

.footer-social-link {
  display: inline-flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fea5bb;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #d41443;
}

.footer-copyright-block {
  border-top: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-social-item {
  margin-left: 28.24px;
}

.foter-number {
  color: #d41443;
}

.footer-adress-link {
  margin-bottom: 43px;
}

.footer-copyright {
  width: 150px;
  font-family: "DM Sans";
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  color: #907e82;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .footer-copyright {
    width: 276px;
    padding-top: 29px;
    padding-bottom: 18px;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .footer-copyright {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .footer-copyright-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
  }

  .footer-h-block {
    margin-top: 7px;
  }
}
.backdrop {
  position: fixed;
  color: #FFA5BA;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.modal {
  position: absolute;
  max-width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .modal {
    width: 528px;
  }
}
@media (min-width: 1280px) {
  .modal {
    width: 628px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-name {
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #FFA5BA;
}

label {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 10px;
}

.input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  width: 100%;
}

.comments {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  color: grey;
}

.comments::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.comments:focus {
  outline: none;
  border-color: #D41443;
}

.button-modal {
  display: block;
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #FFFFFF;
  color: #FEA5BB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 56px 10px 56px;
  border: 0;
}

.input {
  padding-left: 22px;
  color: grey;
}

.input-img {
  position: absolute;
  margin-left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.input:focus {
  outline: none;
  border-color: #D41443;
}

.input:focus ~ .input-img {
  fill: #D41443;
}

.old-check {
  width: 16px;
  height: 15px;
}

.modal-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #D41443;
  text-decoration: underline;
}

.modal:visited {
  color: #D41443;
}

.check-boxing-fr {
  position: relative;
  border: solid 2px #FEA5BB;
  cursor: pointer;
  width: 40px;
  height: 20px;
  margin-left: 12px;
  margin-right: 15px;
}
@media (min-width: 768px) {
  .check-boxing-fr {
    width: 25px;
  }
}

.old-check:checked ~ .check-boxing-fr {
  background-color: #FEA5BB;
  border-color: transparent;
}

.check-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  justify-content: center;
  fill: #D41443;
  justify-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scaleX(1);
}

.check-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #D41443;
}

.check {
  display: flex;
  align-items: center;
}

.old-check:checked ~ .check-boxing-fr {
  background-color: #D41443;
}

.container-form {
  position: relative;
  width: 100%;
}

.user-icon {
  width: 18px;
  height: 18px;
  justify-content: center;
  justify-items: center;
}

.checkbox {
  display: flex;
}

.contact-details {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FEA5BB;
  margin-bottom: 12px;
}

.backdrop.is-hidden.modal {
  transform: scaleX(0);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.icon-close {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.master-icon-close {
  height: 30px;
  width: 30px;
  fill: currentColor;
}

.button-close:hover {
  color: #FEA5BB;
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop-location {
  position: fixed;
  color: #FFA5BA;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.modal-location {
  position: absolute;
  padding: 20px 10px;
  background-color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal-location {
    height: 100vh;
  }
}

.modal-location.container {
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .modal-location.container {
    width: 500px;
    overflow: auto;
  }
}
@media screen and (min-width: 1280px) {
  .modal-location.container {
    width: 720px;
  }
}

.maps {
  width: 270px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .maps {
    width: 450px;
    height: 338px;
  }
}
@media screen and (min-width: 1280px) {
  .maps {
    width: 660px;
  }
}

.map-city {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .map-card {
    width: 480px;
  }
}
@media screen and (min-width: 1280px) {
  .map-card {
    width: 760px;
  }
}

.map-card-item {
  margin-left: auto;
  margin-right: auto;
}

.backdrop-header {
  position: fixed;
  color: #FFA5BA;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.modal {
  position: absolute;
  max-width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .modal {
    width: 528px;
  }
}
@media (min-width: 1280px) {
  .modal {
    width: 628px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-name {
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #FFA5BA;
}

label {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 10px;
}

.input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  color: grey;
}

.button-modal {
  display: block;
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #FFFFFF;
  color: #FEA5BB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 56px 10px 56px;
  border: 0;
}

.input {
  padding-left: 22px;
  color: grey;
}

.input-img {
  position: absolute;
  margin-left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.input:focus {
  outline: none;
  border-color: #D41443;
}

.input:focus ~ .input-img {
  fill: #D41443;
}

.old-check {
  width: 16px;
  height: 15px;
}

.modal-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #D41443;
  text-decoration: underline;
}

.modal:visited {
  color: #D41443;
}

.container-form {
  position: relative;
  width: 100%;
}

.user-icon {
  width: 18px;
  height: 18px;
  justify-content: center;
  justify-items: center;
}

.contact-details {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FEA5BB;
  margin-bottom: 12px;
}

.backdrop.is-hidden.modal {
  transform: scaleX(0);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.icon-close {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.master-icon-close {
  height: 30px;
  width: 30px;
  fill: currentColor;
}

.button-close:hover {
  color: #FEA5BB;
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */